.profile__subtitle {
  margin: 16px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

@media screen and (max-width: 619px) {
  .profile__subtitle {
    margin-top: 14px;
    font-size: 14px;
  }
}

@media screen and (max-width: 519px) {
  .profile__subtitle {
    text-align: center;
  }
}
